.App {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title {
  font-size: 42px;
  font-weight: bold;
  margin: 20px;
}

.description1 {
  margin: 25px;
  width: 85%;
  /*  border: 2px solid black; */
  gap: 20px;
}

.description2 {
  margin: 25px;
  width: 85%;
  gap: 20px;
}
